* {
  margin: 0%;
  padding: 0%;
}

h1 {
  padding: 5px;
  margin: 10px 0%;
  text-align: center;
}
h2{
  padding: 2%;
}
nav {
  text-align: right;
  background-color: black;
}
nav li {
  padding: 25px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
nav li:hover{
  color: black;
  background-color: white;
}
img {
  width: 20%;
  padding: 20px 20%;
  display: inline-block;
}
table {
  display:inline-block;
  text-align: top;
  padding-bottom: 10%;
}
tr > :nth-child(1) {
  font: bolder;
  font-size: large;
  color: red;
  width: 200px;
}
li{
  padding: 5px 20px;
}
div{
  padding-bottom: 2%;
}
button{
  padding: 0.5%;
  margin: 1%;
  display: inline-block;
}
ul{
  display: inline-block;
}
.similar{
  padding: 20px 40%;
}
